version: 2
jobs:
  build:
    working_directory: ~/framework
    docker:
      - image: circleci/node:8.11.1
    environment:
      - NPM_CONFIG_LOGLEVEL=warn
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Linting
          command: npm run -s lint
      - run:
          name: Coverage
          command: npm run -s coverage
      - run:
          name: Build library
          command: npm run -s build
